:root {
  --number_of_slides: 6;
  --size: 100vw;
  --container_slides: var(--number_of_slides) * 2;
  --negative_size: calc(var(--size) * -1);
  --translate_value: calc(
    calc(var(--negative_size) / var(--number_of_slides)) *
      var(--number_of_slides)
  );
  --calc_size: calc(var(--size) / var(--number_of_slides));
}

.slider {
  width: 100vw;
  height: auto;
  margin: auto;
  overflow: hidden;
}

.slider .slide-track {
  display: flex;
  animation: scroll 15s linear infinite;
  -webkit-animation: scroll 15s linear infinite;
  width: calc(var(--calc_size) * var(--container_slides));
}

.slider .slide {
  width: var(--calc_size);
}

.slider .slide img {
  width: 100%;
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(var(--translate_value));
    transform: translateX(var(--translate_value));
  }
}
